<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Plot</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

<!-- import aroosa's script libraries -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static',  filename='css/animate2.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',  filename='css/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',  filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',  filename='css/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',  filename='css/boxicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',  filename='css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',  filename='css/swiper.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static',  filename='css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Moderna - v4.1.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="{{ url_for('home') }}"><span>Energy</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active " href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li class="dropdown"><a href="{{ url_for('selector') }}"><span>Explore Data</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->

  <main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Plot Example</h2>
          <ol>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li>Plot Example</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-5">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <h2>Plot ??? </h2> 
                  <p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-7 col-md-8">
            <div class="row">
              <div class="info-box">
                <h2>Plot image</h2>
                <!-- this is where the plot will be displayed. customise the ID to your plot if you need to -->
                <div id="plot"></div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Map Section ======= -->
    <section class="map mt-2">
      <div class="container-fluid p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.2219901290355!2d-74.00369368400567!3d40.71312937933185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a23e28c1191%3A0x49f75d3281df052a!2s150%20Park%20Row%2C%20New%20York%2C%20NY%2010007%2C%20USA!5e0!3m2!1sen!2sbg!4v1579767901424!5m2!1sen!2sbg" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </section><!-- End Map Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Moderna</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        <br>An interactive dashboard compiled by <a href="https://github.com/presitkaur/Energy-Consumption-Australia">Team Agile</a>
        <br>University of Western Australia and Trilogy Education<br>
        Data Analytics Bootcamp<br>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static',  filename='js/aroosa.js') }}"></script>
  <script src="{{ url_for('static',  filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static',  filename='js/boostrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',  filename='js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static',  filename='js/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static',  filename='js/purecounter.js') }}"></script>
  <script src="{{ url_for('static',  filename='js/swiper-bundle.js') }}"></script>
  <script src="{{ url_for('static',  filename='js/noframework.waypoints.js') }}"></script> 

  <!-- Template Main JS File -->
  <script src="{{ url_for('static',  filename='js/main.js') }}"></script> -->

</body>

</html>